.Footer {
	width: 100%;
	height: 300px;
	background-color: rgb(233, 87, 111);
	display: flex;
	justify-content: center;
	align-items: center;
}

.FooterContent {
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.FooterContent > img {
	width: 200px;
	height: 60px;
	background-color: gray;
}

.FooterLinks {
	width: 40%;
	height: 65%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
